.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 150px;
    background-color: grey;
}

.card .card_img {
    width: 100%;
}

.card .card_name {
    text-transform: capitalize;
    text-align: center;
}

.card > img, .card > p {
    pointer-events: none;
}